---

---
@import "minima";
@import "CETEIcean.css";
.resource-wrapper {
  display: flex;
}

.resource {
  flex: 6;
}

.description {
  flex: 6;
  padding-left: 1em;
}

#sp {
  color: blueviolet;
}

tei-persName {
  color: blueviolet;
}
